<div class="container">

    <div class="profile">
        <img src="assets/img/aa.jpeg" alt="">
        <h3>Vinod kumar</h3>
        <p>FrontEnd Devloper </p>
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="buttons">
            <a href="#" class="btn">download cv</a>
            <a href="#" class="btn">hire me</a>
        </div>
    </div>

    <div class="information">

        <div class="about">
            <h3 class="title">about me</h3>
            <p>To Apply my skills in productive work, stretching my technical skills to the optimum and generating team spirit for maximum synergy along with delivering tangible worth to my employer.
            </p>
            <p>I’m a nice fun and friendly person, I’m honest and punctual, I work well in a team but also on my own as I like to set myself goals which I will achieve, I have good listening and communication skills. I have a creative mind and am always up for new challenges. I am well organized and always plan ahead to make sure I manage my time well.</p>
            <div class="box-container">
                <div class="box">
                    <h3> <span>age : </span> 27 </h3>
                    <h3> <span> address : </span> jharkhand, india </h3>
                    <h3> <span> number : </span> 7386139689 </h3>
                    <h3> <span> email : </span> Vinod@petcommons.com </h3>
                </div>
                <div class="box">
                    <h3> <span> skill : </span> web design </h3>
                    <h3> <span> language : </span> hindi, english </h3>
                    <h3> <span> experience : </span> 1 years </h3>
                    <h3> <span> freelance : </span> available </h3>
                </div>
            </div>
        </div>

        <div class="services">
            <h3 class="title">my services</h3>
            <div class="box-container">
                <div class="box">
                    <img src="assets/img/icon-1.png" alt="">
                    <h3>HTML 5</h3>
                </div>
                <div class="box">
                    <img src="assets/img/icon-2.png" alt="">
                    <h3>CSS 3</h3>
                </div>
                <div class="box">
                    <img src="assets/img/icon-3.png" alt="">
                    <h3>JavaScript</h3>
                </div>
                <div class="box">
                    <img src="assets/img/icon-4.png" alt="">
                    <h3>Angular</h3>
                </div>
                <div class="box">
                    <img src="assets/img/icon-5.png" alt="">
                    <h3>JQuery</h3>
                </div>
                <div class="box">
                    <img src="assets/img/icon-6.png" alt="">
                    <h3>react.js</h3>
                </div>
            </div>
        </div>

        <div class="skills">
            <h3 class="title">my skills</h3>
            <div class="box-container">
                <div class="box">
                    <div class="progress">
                        <h3>html <span>95%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>css <span>80%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>javascript <span>65%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>Angular <span>70%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
                <div class="box">
                    <div class="progress">
                        <h3>web design <span>90%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>nodejs <span>75%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>app design <span>65%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>mongodb <span>45%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="experience">
            <h3 class="title">my experience</h3>
            <div class="box-container">
                <div class="box">
                    <span>2017 - 2018</span>
                    <h3>front-end development</h3>
                    <p>A front-end developer builds the front-end portion of websites and web applications—that is, the part that users actually see and interact with. A front-end developer creates websites and applications using web languages such as HTML, CSS, and JavaScript allow users to access and interact with the site or app.</p>
                </div>
                <div class="box">
                    <span>2018 - 2019</span>
                    <h3>front-end development</h3>
                    <p>A front-end developer builds the front-end portion of websites and web applications—that is, the part that users actually see and interact with. A front-end developer creates websites and applications using web languages such as HTML, CSS, and JavaScript allow users to access and interact with the site or app.</p>
                </div>
                
            </div>
        </div>

        <div class="contact">
            <h3 class="title">contact info</h3>
            <div class="box-container">
                <div class="box">
                    <i class="fas fa-map"></i>
                    <div class="info">
                        <h3>my address</h3>
                        <p>Jharkhand, india - 834001</p>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-phone"></i>
                    <div class="info">
                        <h3>my number</h3>
                        <p>7386139689</p>
                        <p>7970539946</p>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-envelope"></i>
                    <div class="info">
                        <h3>my email</h3>
                        <p>vk92ak@gmail.com</p>
                        <p>vinod@petcommons.com</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

