<div class="main_div"> 
    <div class="center_div">
        <h2>India top 5 States  With Highest Corona Cases</h2>
        <div class="pie-chart"></div>
        <p>
            Maharasthra 48521 <span style="color:#ee5253"></span><br>
            Tamil Nadu 2450036<span style="color:#f28e2c"></span><br>
            Andhra Pardesh 186004<span style="color:#f368e0"></span><br>
            Karnataka 151449<span style="color:#0abde3"></span><br>
            Delhi 140532<span style="color:#10ac84"></span>

        </p>
        <h3>India Corona virus Cases Till Now</h3>
    </div>
</div>